<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pollr</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- External Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/result.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <span class="logo">
        <h1>Pollr</h1>
      </span>
    </header>

    <main>

      <form>
        <h3>Results</h3>
        <p id="view"><%= options[0]['question'] %></p>
        <ul id="resultspage">
          <li id="first" class="result"> 1. <%= options[0]['text'] %> </li>
          <li class="losers" class="result"> 2. <%= options[1]['text'] %> </li>
          <li class="losers" class="result"> 3. <%= options[2]['text'] %> </li>
          <li class="losers" class="result"> 4. <%= options[3]['text'] %> </li>
          <li class="losers" class="result">  5. <%= options[4]['text'] %> </li>
        </ul>
      </form>

    </main>
  </body>
</html>
